@import url('https://fonts.googleapis.com/css2?family=Updock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&family=Updock&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
    background-attachment: fixed;
}

.container{
    display: flex;
    height: 580px;
    width: 1000px;
    border: 0px solid white;
    border-radius:5px;
    margin: auto;
    margin-top: 50px;

}
.form-column-one{
    display:flex;
    flex-direction: column;
    width:40%;
    background-color: #ffd39a;
    border-bottom-left-radius: 15px;
    border-top-left-radius:15px ;
    

}
.form-column-one h1{
    color: rgb(78, 95, 78);
    font-family: Updock,cursive;
    font-size: 30px;
    margin: 40px 10px 5px 45px;

}


  
.form-column-one p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bolder;
    color:rgb(78, 95, 78) ;
    margin: 0 10px 0 45px;
}

.form-column-one img{
    width: 350px;
    height: 250px;
   margin: 70px 10px 30px 20px;

}
.form-column-one h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 12px;
    margin: -20px 40px ;
    color: rgb(78, 95, 78);
}
.sign-in-option{
    display: block;
    float: right;
    font-size: 15px;
    font-weight: bolder;
    color: black;
    margin: 20px 30px;
}
.form-column-two{
   
   font-family:Arial, Helvetica, sans-serif;
    display:flex;
    flex-direction: column;
    width:100vw;
    background-color: white;
    border-top-right-radius:15px ;
    border-bottom-right-radius: 15px;
   
   
}

span .sign-in-option{
    float: right;   
}

.form-column-two h1{
margin:85px 20px 30px 150px;
font-size: 20px;
}

  .sign-up-button {
    
    margin:10px 10px -20px 150px;
    display: block;
    width: 20vw;
    height: 38px;
    background-color: #4285f4;
    color: #fff;
    border-radius: 5px;
 
    align-items: flex-start;
   
}

.sign-up-button:hover {
    cursor: pointer;
    
    box-shadow: 0 0 3px 3px #3367D6;
        }
        .sign-up-button:active {
            background-color: #3367D6;
         
        }

        .sign-up-button .content-wrapper {
            height: 100%;
            width: 100%;
            
        }

        .sign-up-button img {
            width: 18px;
            height: 18px;
        }

        .sign-up-button .logo-wrapper {
            padding: 15px;
            background-color:#3367D6;
            width: 48px;
            height: 100%;
            border-radius: 5px;
            display: inline-block;
        }

        .sign-up-button .text-container {
            font-family: Roboto,arial,sans-serif;
            font-weight: 500;
            letter-spacing: .21px;
            font-size: 16px;
            line-height: 48px;
            vertical-align: top;
            border: none;
            border-radius: 5px;
            display: inline-block;
            text-align: center;
            width: 180px;
        }
      .social-cont{
         margin:1px -25px 1px -200px ;
        
      }
        .fa {
            padding: 20px;
            font-size: 30px;
            width: 2px;
            height: 2px;
            white-space: pre-line;
            text-align: center;
            text-decoration: none;
            margin: -20px -703px -20px 620px;
            border-radius: 5px;
          }
          
          .fa:hover {
              opacity: 0.7;
          }
          
          
          
          .fa-twitter {
            background: #55ACEE;
            color: white;
            margin-left: -85px;
           
          }
          
          .fa-facebook {
            background: #3B5998;
            color: white;
         
            margin-right: 95px;
          }
         
      
        .hr-lines:before{
            content:" ";
            display: block;
            height: 2px;
            width: 150px;
            position: absolute;
            top: 50%;
            left: 0;
            background-color:grey;
          }
          .hr-lines{
            position: relative;
            max-width: 900px;
          margin: 0px 150px;
          text-align: center;
          font-size: 15px;
          }
          .hr-lines:after{
            content:" ";
            height: 2px;
            width: 150px;
            background:grey;
            display: block;
            position: absolute;
            top: 50%;
            right: 0;
          }
          
label  {
    font-weight: bold;
    display: block;
    margin: auto;
    text-align: left;
    
}

.input-name{
   position: fixed;
   margin-left:70px ;
   
}
.input-name span{
    flex-wrap: wrap;
    display: inline-block;
    margin-top: 2px;
    margin-left: 65px;
    margin-inline-end: auto;
}

span #full-name{
margin: auto;
display: inline-flexbox;
width: 100%;
border: 5px solid rgba(255, 234, 234, 0.829);
border-radius: 9px;

background-color: antiquewhite;
}

span #user-name{
    
    margin:0 55px ;
    margin-left: -20px;
    display:inline-flexbox;
    width: 85%; 
    border: 5px solid rgba(255, 234, 234, 0.829);
border-radius: 9px;
text-align: left;
background-color:antiquewhite;
}

.email{
    margin: 15px 65px; 
    
}
.email input{
    width: 75%;
    border: 5px solid rgba(255, 234, 234, 0.829);
border-radius: 9px;
;
background-color:antiquewhite;
}
.password{
    margin:15px 65px;
}
.password input{
    width:75%;
    border: 5px solid rgba(255, 234, 234, 0.829);
border-radius: 9px;
;
background-color:antiquewhite;
}
.check-box{
    margin-left:70px;
    
    font-size: 10px;
    color: rgb(66, 64, 64);
}
.form-column-two button{
    margin-top: 20px;
    background-color: rgb(233, 128, 146);
    border-radius:5px;
    border-color: rgb(233, 128, 146);
    width: 150px;
   padding: 5px;
   font-weight: bold;
   color: white ;
}
.form-column-two button:hover{
    background-color:rgb(233, 128, 146) ;

}
.form-column-two p{
    margin-top: 50px;
}